<div class="budget-table-data row-data grid-container" th:each="budgetItem: ${budget.getBudgetItems()}"
     th:attr="data-budget-item-id=${budgetItem.getId()}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="icon-div">
        <i class="fas fa-plus add-entry-button" title="Add new budget entry" data-toggle="modal" data-target="#create-entry-modal"></i>
        <i class="fas fa-bars entry-table-opener" title="View budget entries" data-toggle="collapse" th:attr="data-target='#collapse' + ${budgetItem.getId()}"></i>
    </div>
    <div>
        <p class="name" th:text="${budgetItem.getName()}" th:attr="data-budget-item-name=${budgetItem.getName()}"></p>
        <input class="hidden edit-input name-input" type="text" th:value="${budgetItem.getName()}"
               th:attr="data-original-value=${budgetItem.getName()}">
    </div>
    <div>
        <p class="amount" th:text="${'$' + #numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
        <input class="hidden edit-input amount-input" type="number" step="0.01" th:value="${#numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"
               th:attr="data-original-value=${#numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}">
    </div>
    <div class="total-display spent-display" th:text="${'$' + #numbers.formatDecimal(budgetItem.getTotalSpent(), 1, 'DEFAULT', 2, 'DEFAULT')}"></div>
    <div class="total-display remaining-display" th:text="${'$' + #numbers.formatDecimal(budgetItem.getTotalRemaining(), 1, 'DEFAULT', 2, 'DEFAULT')}"
         th:classappend="${budgetItem.getTotalRemaining() < 0} ? negative-amount : positive-amount"></div>
    <div class="type-container">
        <p class="item-type item-type-text" th:text="${budgetItem.getBudgetItemType().getLowerCaseLabel()}"></p>
    </div>
    <div class="checkbox-container">
        <input class="hidden edit-input month-specific-checkbox" type="checkbox">
    </div>
    <div>
        <i class="fas fa-trash-alt delete-item-button" title="Delete item" data-toggle="modal" data-target="#delete-item-modal"></i>
    </div>
    <div class="entries-display collapse" th:id="'collapse' + ${budgetItem.getId()}">
        <div class="entry-heading-container">
            <div class="entry-table-heading month-entry-heading">Month</div>
            <div class="entry-table-heading amount-entry-heading">Amount</div>
            <div class="entry-table-heading">Notes</div>
        </div>
        <div class="entry-container" th:each="budgetEntry : ${budgetItem.getBudgetEntries()}">
            <p class="entry-data month-entry-data" th:text="${budgetItem.getBudgetItemType() == T(com.megansportfolio.budgettracker.budgetItem.BudgetItemType).MONTHLY ? '-' : budgetEntry.getMonth().getNameLabel()}"></p>
            <p class="entry-data amount-entry-data" th:text="${'$' + #numbers.formatDecimal(budgetEntry.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
            <p class="entry-data" th:text="${budgetEntry.getNotes()}"></p>
        </div>
    </div>
</div>