<!--https://codepen.io/davidmellul/pen/RYEdLQ-->
<body>
    <div id="sidebar" class="collapsed">
        <img src="/images/white-lettering-fflogo.png">
        <i id="closer" class="sidebar-toggle fas fa-times" title="Close sidebar"></i>
        <ul>
            <li>
                <a th:href="@{/budgets}">Budgets</a>
            </li>
            <li>
                <a th:href="@{/users/account}">Account</a>
            </li>
            <li>
                <a th:href="@{/budgets/create}">Create A Budget</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <i id="toggle" class="sidebar-toggle fas fa-bars" title="Open sidebar"></i>
    </div>
</body>