<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="'layouts/default'">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/budget.js}"></script>
    <title th:text="${budget.getName()}"></title>
</head>
<body>
<div layout:fragment="content">

    <div class="modal" id="delete-item-modal" tabindex="-1" role="alertdialog" aria-hidden="true" aria-labelledby="delete-item-modal-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="delete-item-header">
                    <h5 class="modal-title">Delete budget item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure? This will also delete all historical data for this budget item. This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger delete-confirmation">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="create-entry-modal" tabindex="-1" role="alertdialog" aria-hidden="true" aria-labelledby="create-entry-modal-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="create-entry-header">
                    <h5 class="modal-title" id="item-name-display"></h5>
                    <button type="button" class="close entry-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body" id="create-entry-body">
                        <label>Amount:</label>
                        <input type="number" name="amount" id="entry-amount-input" required="required">
                        <p id="amount-error-message" class="hidden">Amount is required</p>
                        <label>Notes:</label>
                        <textarea name="notes" id="entry-notes-input"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary entry-close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success create-entry-confirmation">Create</button>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal" id="select-date-modal" tabindex="-1" role="alertdialog" aria-hidden="true" aria-labelledby="select-date-modal-label">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" id="date-modal-header">
                    <h5 class="modal-title">Select month and year</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/budgets/{budgetId}(budgetId=${budget.getId()})}" method="get">
                    <div class="modal-body" id="date-modal-body">
                        <input type="hidden" name="budgetId" th:value="${budget.getId()}">
                        <select id="month-select" name="month">
                            <option th:each="month : ${T(com.megansportfolio.budgettracker.budget.Month).values()}"
                                    th:value="${month.getMonthNumber()}"
                                    th:text="${month.getNameLabel()}"></option>
                        </select>
                        <input id="year-input" type="number" min="1000" max="9999" name="year">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="date-select-button">Select</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="edit-budget-error-message" class="hidden alert alert-danger">Something went wrong. Please refresh the page and try again.</div>
    <div id="rename-budget-error-message" class="hidden alert alert-danger">Please enter a name</div>
    <div id="edit-budget-success-message" class="hidden alert alert-success">Budget successfully updated</div>
    <div id="create-new-item-success-message" class="hidden alert alert-success">Item successfully added</div>
    <div id="create-entry-success-message" class="hidden alert alert-success">Entry successfully added</div>


    <div id="budget-heading">
        <h1 id="budget-title" th:text="${budget.getName()}" th:attr="data-budget-id=${budget.getId()}, data-original-value=${budget.getName()}"></h1>
        <i class="fas fa-pencil-alt ml-3" title="Rename budget" id="rename-budget-button"></i>
        <input id="rename-budget-input" class="hidden" type="text" th:value="${budget.getName()}">
        <div class="rename-buttons ml-3 hidden">
            <i class="far fa-times-circle" id="rename-budget-x" title="Cancel"></i>
            <i class="fas fa-check" id="rename-budget-check" title="Save"></i>
        </div>
    </div>
    <div class="date-display-container">
        <h3 id="date-display" th:text="${displayMonth.getNameLabel()} + ' ' + ${displayYear}" th:attr="data-display-month=${displayMonth.getMonthNumber()}, data-display-year=${displayYear}"></h3>
        <i class="far fa-calendar-alt" id="calendar-icon" title="Select month and year" data-toggle="modal" data-target="#select-date-modal"></i>
    </div>
    <div id="button-container">
        <button id="edit-budget-button" class="btn btn-success mb-2 ml-2">Edit</button>
        <button id="create-new-item-button" class="btn btn-success mb-2 ml-2">Add a New Item</button>
        <button id="cancel-edits-button" class="btn btn-secondary hidden mb-2 ml-2">Cancel</button>
        <button id="save-edits-button" class="btn btn-success hidden mb-2" type="submit">Save</button>
    </div>
    <div id="budget-items-table">
            <div class="grid-container">
                <div class="column-heading"></div>
                <div class="column-heading">Name</div>
                <div class="column-heading">Amount</div>
                <div class="column-heading">Total Spent</div>
                <div class="column-heading">Total Remaining</div>
                <div class="column-heading">Type</div>
                <div class="column-heading">
                    <p id="month-specific-heading" class="hidden">Month Specific
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top"
                           title="Check if you want this item's edit to only apply to the selected month and year."></i>
                    </p>
                </div>
                <div class="column-heading"></div>
            </div>
            <div class="budget-table-data row-data grid-container hidden-to-clone">
                <div>
                    <i class="fas fa-plus add-entry-button" title="Add new budget entry" data-toggle="modal" data-target="#create-entry-modal"></i>
                </div>
                <div>
                    <p class="name"></p>
                    <input class="hidden edit-input name-input" type="text">
                </div>
                <div>
                    <p class="amount"></p>
                    <input class="hidden edit-input amount-input" type="number" step="0.01">
                </div>
                <div class="total-display spent-display"></div>
                <div class="total-display remaining-display"></div>
                <div class="type-container">
                    <p class="item-type item-type-text"></p>
                </div>
                <div class="checkbox-container">
                    <input class="hidden edit-input month-specific-checkbox" type="checkbox">
                </div>
                <div>
                    <i class="fas fa-trash-alt delete-item-button" title="Delete item" data-toggle="modal" data-target="#delete-item-modal"></i>
                </div>
            </div>
            <div class="budget-table-data row-data grid-container" th:each="budgetItem: ${budget.getBudgetItems()}"
                 th:attr="data-budget-item-id=${budgetItem.getId()}">
                <div class="icon-div">
                    <i class="fas fa-plus add-entry-button" title="Add new budget entry" data-toggle="modal" data-target="#create-entry-modal"></i>
                </div>
                <div>
                    <p class="name" th:text="${budgetItem.getName()}" th:attr="data-budget-item-name=${budgetItem.getName()}"></p>
                    <input class="hidden edit-input name-input" type="text" th:value="${budgetItem.getName()}"
                           th:attr="data-original-value=${budgetItem.getName()}">
                </div>
                <div>
                    <p class="amount" th:text="${'$' + #numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
                    <input class="hidden edit-input amount-input" type="number" step="0.01" th:value="${#numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}"
                           th:attr="data-original-value=${#numbers.formatDecimal(budgetItem.getAmount(), 1, 'DEFAULT', 2, 'DEFAULT')}">
                </div>
                <div class="total-display spent-display" th:text="${'$' + #numbers.formatDecimal(budgetItem.getTotalSpent(), 1, 'DEFAULT', 2, 'DEFAULT')}"></div>
                <div class="total-display remaining-display" th:text="${'$' + #numbers.formatDecimal(budgetItem.getTotalRemaining(), 1, 'DEFAULT', 2, 'DEFAULT')}"
                     th:classappend="${budgetItem.getTotalRemaining() < 0} ? negative-amount : positive-amount"></div>
                <div class="type-container">
                    <p class="item-type item-type-text" th:text="${budgetItem.getBudgetItemType()}"></p>
                </div>
                <div class="checkbox-container">
                    <input class="hidden edit-input month-specific-checkbox" type="checkbox">
                </div>
                <div>
                    <i class="fas fa-trash-alt delete-item-button" title="Delete item" data-toggle="modal" data-target="#delete-item-modal"></i>
                </div>
            </div>

            <div class="grid-container row-data new-item-container hidden" id="new-item-div" th:attr="data-budget-id=${budget.getId()}">
                <div></div>
                <div>
                    <input class="hidden new-item-input name-input" id="new-item-name-input" type="text">
                </div>
                <div>
                    <input class="hidden new-item-input amount-input" id="new-item-amount-input" type="number">
                </div>
                <div></div>
                <div></div>
                <div class="btn-group-container hidden btn-group btn-group-toggle new-item-input type-input" id="new-item-type-input" data-toggle="buttons"
                     aria-label="Budget item type">
                    <label class="btn btn-secondary type-button" th:each="budgetItemType : ${T(com.megansportfolio.budgettracker.budgetItem.BudgetItemType).values()}">
                        <input type="radio" name="budget-item-type" th:value="${budgetItemType}" autocomplete="off"> [[${budgetItemType}]]
                    </label>
                </div>
                <div></div>
                <div class="save-buttons hidden">
                    <i class="far fa-times-circle" id="cancel-new-item-x"></i>
                    <i class="fas fa-check" id="save-new-item-check"></i>
                </div>
            </div>
    </div>

</div>
</body>
</html>