<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="'layouts/login-create'">
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
    <script th:src="@{/js/create-user.js}"></script>
    <title>Create Account</title>
</head>

<body>
<div layout:fragment="content">

<div class="image-div">
    <img th:src="@{/images/fflogo.png}" th:alt-title="${'Finance Friend Logo'}">
</div>
<div class="create-new-form-div">
    <div class="error" th:if="${param.exists}">There is already an account associated with the email address you entered.</div>
    <div class="error" th:if="${param.invalid}">Please enter a valid email address.</div>
    <form class="new-user-form" th:action="@{/users}" method="post" th:object="${user}" id="create-user-form">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{username}">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password">
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
    </form>
    <a id="login-link" th:href="@{/login}">Already have an account? Sign In.</a>
</div>

</div>
</body>
</html>