<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="'layouts/default'">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="${budget.getName()}"></h1>
    <ul>
        <li th:each="budgetItem: ${budget.getBudgetItems()}">
            <p th:text="${budgetItem.getName()}"></p>
        </li>
    </ul>


</div>
</body>
</html>