<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="'layouts/login-create'">
<head>
    <title>Login</title>
</head>

<body>
<div layout:fragment="content">

<div class="image-div">
    <img th:src="@{/images/fflogo.png}" th:alt-title="${'Finance Friend Logo'}">
</div>

<div id="login-form-div">
    <form th:action="@{/login}" method="post" id="login-form">
        <label for="email">Email:</label>
        <input type="text" id="email" name="username" tabindex="1">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" tabindex="2">
        <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
    </form>
    <a id="create-account-link" th:href="@{/users}">New to Finance Friend? Create an Account!</a>
</div>

</div>
</body>
</html>