@import "styles/variables";

#date-modal-header, #delete-item-header, #create-entry-header{
    background-color: $green;
    color: white;
    font-weight: bold;
    span{
        color: white;
    }
}

#date-modal-body{
    display: flex;
    justify-content: space-evenly;
    #month-select{
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
    }
    input{
        padding-right: 2px;
        text-align: right;
    }
}

#create-entry-modal{
    .modal-body{
        display: flex;
        align-items: center;
        flex-direction: column;
        input{
            margin-bottom: 5px;
        }
        textarea{
            resize: none;
            border-radius: 5px;
            height:5em;
            width: 15em;
        }
        .error{
            box-shadow: 0 0 3pt 2pt red;
        }
    }
}

#budget-heading{
    display: flex;
    align-items: center;
    #budget-title{
        margin-left: 10px;
    }
    #rename-budget-button, #rename-budget-check{
        color: $green;
        cursor: pointer;
        &.disabled{
            opacity: .5;
        }
    }
    #rename-budget-x{
        cursor: pointer;
        color: $secondary;
    }

    #rename-budget-input{
        margin-left: 10px;
        margin-bottom: 1em;
        margin-top: 1em;
        padding-left: 5px;
        border-radius: 5px;
    }
    .rename-buttons{
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

.date-display-container{
    display: flex;
    justify-content: flex-start;
    margin: 1em 0 1em 10px;
    #calendar-icon{
        color: $green;
        font-size: 2em;
        cursor: pointer;
        margin-left: 1rem;
    }
}

#button-container{
    display: flex;
    justify-content: flex-start;
    width: 75%;

    #cancel-edits-button{
        margin-right: .5em;
    }
}


#budget-items-table{
    width: 80%;
    margin-left: 10px;

    .grid-container{
        display: grid;
        grid-template-columns: 5% 15% 15% 13% 15% 17% 15% 5%;
    }
    .column-heading{
        text-align: center;
        vertical-align: middle;
        border: 1px solid $light-grey;
        border-collapse: collapse;
        padding: 10px;
        border-bottom: 1px solid $light-grey;
        background-color: $green;
        color: white;
        font-weight: bold;
        p{
            margin-bottom: 0;
        }
        i{
            cursor: pointer;
        }
    }
    .hidden-to-clone{
        display: none !important;
    }
    .row-data{

        text-align: left;
        vertical-align: middle;
        padding: 6px;
        p{
            margin-bottom: 0;
        }
        .name-input, .amount-input{
            width: 90%;
            margin-left: 0;
        }
        .amount, .amount-input, .total-display{
            text-align: right;
            padding-right: .5em;
        }
        .negative-amount{
            background-color: $negative-background;
        }
        .positive-amount{
            background-color: $positive-background;
        }
        .type-container, .checkbox-container{
            margin: auto;
            .item-type{
                text-align: center;
            }
        }
        .icon-div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .add-entry-button{
            color: $secondary;
            cursor: pointer;
        }
        .delete-item-button{
            color: $secondary;
            margin-left: 45%;
            cursor: pointer;
        }
        .save-buttons{
            margin: auto;
            cursor: pointer;
            #cancel-new-item-x{
                margin-right: 5px;
                color: $secondary;
            }
            #save-new-item-check{
                color: $green;
            }
        }
    }

    .row-data:nth-child(even):not(.hidden){
        background-color: $light-grey;
    }
}


.btn-group{
    .type-button{
        background-color: $light-secondary;
        border-color: $light-secondary;
        margin-left: 0;
    }
    .type-button:hover, .type-button:not(.disabled).active{
        background-color: $secondary;
        margin-left: 0;
    }
    :nth-child(1){
        border-right: 1px solid white;
    }
    :nth-child(2){
        border-left: 1px solid white;
    }
}