@import "styles/variables";

#budget-title{
    margin-left: 10px;
}

#budget-items-table{

    border-collapse: collapse;
    width: 60%;
    margin-left: 10px;
    th{
        text-align: center;
        vertical-align: middle;
        border: 1px solid $light-grey;
        border-collapse: collapse;
        padding: 10px;
        border-bottom: 1px solid $light-grey;
        background-color: $green;
        color: white;
        font-weight: bold;
    }
    td{
        border: 1px solid $dark-grey;
        border-collapse: collapse;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid $light-grey;
        padding: 6px;

        &.amount{
            text-align: right;
        }
    }
    tr:nth-child(even){
        background-color: $light-grey;
    }
}