@import "styles/variables";

#budget-heading{
    display: flex;
    align-items: center;
    #budget-title{
        margin-left: 10px;
        color: $green;
    }
    #rename-budget-button, #rename-budget-check{
        color: $green;
        cursor: pointer;
    }
    #rename-budget-x{
        cursor: pointer;
        color: $secondary;
    }

    #rename-budget-input{
        margin-left: 10px;
        margin-bottom: 1em;
        margin-top: 1em;
        padding-left: 5px;
        border-radius: 5px;
    }
    .rename-buttons{
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

#budget-items-table{
    width: 60%;
    margin-left: 10px;

    .grid-container{
        display: grid;
        grid-template-columns: 40% 20% 30% 10%;
    }
    .column-heading{
        text-align: center;
        vertical-align: middle;
        border: 1px solid $light-grey;
        border-collapse: collapse;
        padding: 10px;
        border-bottom: 1px solid $light-grey;
        background-color: $green;
        color: white;
        font-weight: bold;
    }
    .row-data{

        text-align: left;
        vertical-align: middle;
        padding: 6px;
        p{
            margin-bottom: 0;
        }
        .name-input{
            width: 90%;
            margin-left: 0;
        }
        .amount, .amount-input{
            text-align: right;
            margin-right: 1em;
            width: 75%;
        }
        .btn-group-container{
        margin: auto;
            .item-type{
                text-align: center;
            }
        }
        input{
            border: 1px solid $dark-grey;
            border-radius: 5px;
        }
        .save-buttons{
            margin: auto;
            cursor: pointer;
            #cancel-new-item-x{
                margin-right: 5px;
                color: $secondary;
            }
            #save-new-item-check{
                color: $green;
            }
        }
    }

    .row-data:nth-child(even):not(.hidden){
        background-color: $light-grey;
    }
}


.btn-group{
    .type-button{
        background-color: $light-secondary;
        border-color: $light-secondary;
        margin-left: 0;
    }
    .type-button:hover, .type-button:not(.disabled).active{
        background-color: $secondary;
        margin-left: 0;
    }
    :nth-child(1){
        border-right: 1px solid white;
    }
    :nth-child(2){
        border-left: 1px solid white;
    }
}