@import "styles/variables";

#create-budget-title{
    color: $green;
    margin-left: 5px;
}

#create-budget-form{
    margin-left: 5px;
    form{
        height: 100%;
        display: flex;
        align-items: center;
        label, input{
            margin-right: 5px;
            margin-bottom: 0px;
        }
    }
}


