@import "styles/variables";

.hidden{
    display: none;
}

#add-budget-item-title{
    color: $green;
    margin-left: 5px;
}

.disabled#create-item-button{
    opacity: 0.65;
    cursor: not-allowed;
}

#column-names.displaying{
    width: 40%;
    margin: 2px;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    p{
        text-decoration: underline;
        font-weight: bold;
    }
}

#finished-budget-items{
    height: 100%;
    width:40%;
    margin-left: 5px;

    div{
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }
}

.btn-group{
    .type-button{
        background-color: $light-secondary;
        border-color: $light-secondary;
        margin-left: 0;
    }
    .type-button:hover, type-button:not(.disabled).active{
        background-color: $secondary;
        margin-left: 0;
    }
    #button-group-left{
        border-right: 1px solid white;
    }
    #button-group-right{
        border-left: 1px solid white;
    }
}

#create-budget-item-form{
    margin-left: 5px;
}

#return-budget-link{
    margin: 5px 0 0 5px;
    i{
        margin-right: 5px;
    }
}