@import "styles/variables";

nav{
margin-bottom: 5px;
    img{
        height: 1em;
        width: 1.5em;
        border-radius: .25rem;
        margin-right: auto;
    }
    button{
        margin-left: auto;
    }
}